body{
    background-color: #1e1d20;
    }
    .principal {
    width: 100%;
    display: flex;
    flex-direction: row;
    }
    .coluna1, .coluna2{
    align-items: center;
    margin: 1%;
    }
    .coluna1{
    flex-grow: 1;
    }
    .coluna2{
    flex-grow: 1;
    }
    img{
    width: 100%;
    margin: 1%;